/* Header basico */

.site-header {
  height: 80px; /* h-20 */
}

.site-header__brand {
  text-decoration: none;
}

.site-header__subtitle {
  line-height: 1;
}

.site-header__nav-link {
  text-decoration: none;
  white-space: nowrap;
}

.site-header__mobile-button {
  border: 1px solid rgba(24, 24, 27, 0.12);
}
